<footer class="position-fixed bottom-0 w-100 z-1">
    <div class="contenedorFooter d-flex w-100 justify-content-around">
        <i (click)="nuevoTask()" class="bi bi-plus-circle {{!administraFooter ? '' : 'opacity-25 disabled'}}"></i>
        <i class="bi bi-pencil {{administraFooter ? '' : 'opacity-25 disabled'}}"></i>
        <i class="bi bi-trash {{administraFooter ? '' : 'opacity-25 disabled'}}"></i>
        <i routerLink="app/login" class="bi bi-door-closed"></i>
    </div>
    
    <div class="col-12 contenedor">
        <p class="mb-1 ">&copy; 2024 RDC - Todos los derechos reservados</p>
    </div>
</footer>
