
footer{  
  width: 100%;
  left: 0;
  right: 0;
  align-items: center;
  padding: 10px;
    
  .contenedorFooter{   
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
    color: whitesmoke;
    i:hover{
      color: rgba(56, 59, 219, 0.951);
    }
  }

  p{
    text-align: center;
  }
}
