<div class="container">
    <h2>Nueva Tarea</h2>
    <br>
    <form (submit)="main()">
        <label for="fecha">Fecha</label>
        <input type="date" name="fecha" id="fecha" >
        <br>
        <label for="tarea">Tarea</label>
        <input type="text" name="tarea" id="tarea" >
        <br>
        <label for="descripcion">Descripcion</label>
        <br>
        <textarea name="descripcion" id="descripcion"></textarea>       
        <br>
        <button type="button" >Guardar</button>
    </form>
</div>