<body>
<div class="container">
    <div class="globo" ><div class="frontal"></div><div class="mapfront"></div><div class="mapback"></div><div class="back"></div></div>
</div>

<h1>To Do List</h1>
<p>Inicia Sesión para utilizar la aplicación</p>

<form action="/main" method="post">
    <i class="bi bi-person"></i>
    <input class="bi " type="text" name="name" id="name" placeholder="Usuario">
    <br>
    <i class="bi bi-key"></i>
    <input type="password" name="password" id="password" placeholder="Ingresa tu contraseña">
    <br>    
    <button type="submit" class="bi bi-door-open"> Acceder</button>
    <br>
    <a href="/register">¿Todavia no estas registrado?</a>
</form>
</body>
