.body{

  text-align: center;
  justify-content: center;
  .globoTerraqueo {
    img{
      width: 400px;
      height: 400px;
      position:relative;

    }    
  }  
  
  form{ 
    input{
      border: 3px solid rgba(56, 59, 219, 0.951);
      border-radius: 5px;      
    }

    button{
      border: 3px solid rgba(56, 59, 219, 0.951);
      border-radius: 5px;
      width: 100px;
      height: 30px;
      margin: 10px;      
    }
    .password{
      i.check{
        position: absolute;
        z-index: 2;
        right: 0;

      }
    }
}
}
