#contPendientes{
    width: 90%;
    position: relative;
    overflow-x: auto;
    padding: 20px;

    .card-block {
        min-height: 200px;
        width: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2em;
    }
}