<main>
    <div class="container">   
        <h2>Tareas Pendientes</h2>     
        <div class="container-fluid " id="contPendientes">            
            <div class="row flex-nowrap ">
                <div class="col-4">
                    <div class="card card-block">Card</div>
                </div>
                <div class="col-4">
                    <div class="card card-block">Card</div>
                </div>
                <div class="col-4">
                    <div class="card card-block">Card</div>
                </div>
                <div class="col-4">
                    <div class="card card-block">Card</div>
                </div>
                <div class="col-4">
                    <div class="card card-block">Card</div>
                </div>
            </div>
        </div>
        <br>
        <h2>Tareas Realizadas</h2>        
        <div class="container-fluid" id="contRealizados">            
            <div class="row flex-nowrap">
                <div class="col-4">
                    <div class="card card-block">Card</div>
                </div>
                <div class="col-4">
                    <div class="card card-block">Card</div>
                </div>
                <div class="col-4">
                    <div class="card card-block">Card</div>
                </div>
                <div class="col-4">
                    <div class="card card-block">Card</div>
                </div>
                <div class="col-4">
                    <div class="card card-block">Card</div>
                </div>                
            </div>
        </div>
    </div>
</main>