<div>
    <div class="container globoTerraqueo">
        <img id="gif" src="https://media1.giphy.com/media/U4FkC2VqpeNRHjTDQ5/giphy.webp?cid=dda24d50eon1dej10rvwlww1m2qgh0v599tx11qjzq06ydf8&ep=v1_internal_gif_by_id&rid=giphy.webp&ct=g">
    </div>
    <h2>To Do List</h2>
    <br>
    <h3>Ingresa tus datos:</h3>
    <form [formGroup]="formulario" (submit)="login()" method="post">
        <i class="bi bi-person"> Usuario</i>
        <input formControlName="name" class="bi " type="text" name="name" id="name" placeholder="Usuario">
        
        <i class="bi bi-mailbox"> Correo Electrónico</i>
        <input type="email" name="email" id="email" placeholder="tucorreo@corree.com">
        
        <i class="bi bi-key"> Contraseña</i>
        <input formControlName="password" type="password" name="password" id="password" placeholder="Ingresa tu contraseña">
        
        <i class="bi bi-key"> Repite tu contraseña</i>
        <input type="password" name="rppassword" id="rppassword" placeholder="Repite tu contraseña">
        
        <button class="bi bi-door-open"> Registrar</button>
    </form>
</div>
