<div>
    <h2>To Do List</h2>
    <br>
    <h3>Ingresa tus datos:</h3>
    <form action="" method="post">
        <i class="bi bi-person"> Usuario</i>
        <input class="bi " type="text" name="name" id="name" placeholder="Usuario">
        <br>
        <i class="bi bi-mailbox"> Correo Electrónico</i>
        <input type="email" name="email" id="email" placeholder="tucorreo@corree.com">
        <br>
        <i class="bi bi-key"> Contraseña</i>
        <input type="password" name="password" id="password" placeholder="Ingresa tu contraseña">
        <br>
        <i class="bi bi-key"> Repite tu contraseña</i>
        <input type="password" name="rppassword" id="rppassword" placeholder="Repite tu contraseña">
        <br>
        <button type="submit" class="bi bi-door-open"> Registrar</button>
    </form>
</div>
